
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:20px;    
}

.container h1{
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.para{
    width:32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
    overflow: hidden;
    
}

.para img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.para:hover img {
    cursor: pointer;  /* fixed wrong property */
}


.para:hover img{
    filter: grayscale(0%);
    display: cursor-pointer;
}

.para figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:25px;
    width:100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0));
    transition: 0.3s;
}

.para:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}
/* Lightbox Styles */
#lightbox {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    border-radius: 10px;
}


/* Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Navigation Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    padding: 10px;
    user-select: none;
    transform: translateY(-50%);
}

.prev { left: 30px; }
.next { right: 30px; }

.prev:hover, .next:hover, .close:hover {
    color: #bbb;
}
